<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      th:href="@{lib/bootstrap/dist/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/header/style.css}" />
    <link rel="stylesheet" th:href="@{/css/footer/style.css}" />
    <title layout:fragment="title">Mi Aplicación</title>
  </head>
  <body>
    <header th:replace="~{common/header :: header}"></header>
    <main layout:fragment="content"></main>
    <footer th:replace="~{common/footer :: footer}"></footer>
  </body>
</html>
